
.react-horizontal-scrolling-menu--wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 20px !important;
}
.mat-ink-bar{
    display: none;
}
.rts___tab___selected .mat-ink-bar{
    display: block;
}


 /* For Scrolling Tabs and Tabpanels */


  .rts___btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    transition: 0.3s all linear;
    color:  gray;
  font-weight: bolder;
}
.rts___btn {
    border: none !important;
}
.rts___tab .rts___btn  {
  color:  rgb(87, 86, 86) !important ;
  font-weight: bolder !important;
  border:  none !important;
}
.rts___tab___selected{
    color:  black;
}
.rts___tab___selected {
    background-color: white  !important;
    color: black  !important;
    box-shadow: NONE !important;
    
}

.rts___left___nav___btn {
    background: white !important;
    color: black !important;
}
.rts___right___nav___btn {
    background: white !important;
    color: black !important;
}

.rts___nav___btn:hover{
    color:black !important;
    background-color: #9322c6 !important;
}

.rts___tab .rts___btn:hover  {
    color:  rgb(0, 0, 0) !important ;
  }

  .rts___tab {
    padding: 10px 30px;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    margin: 0 0px !important;
}
