.bg-card {
  background: transparent linear-gradient(180deg, #706feb 0%, #58b1ff 100%) 0%
    0% no-repeat padding-box;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  height: 114px;
}
.height_in {
  margin-bottom: -4rem;
}

.height-1 {
  padding-top: 0px;
  margin: 0px;

  width: 248px;
}
.height-2 {
  /* // height: 667px; */
  width: 223px;
}

.bg-overall-height {
  /* // height: 550px; */
}
/* .margin_card{

    margin-top: 0px;
} */

.font-small {
  font-size: 13px;
}

.bg-vilet {
  background: transparent linear-gradient(180deg, #706feb 0%, #58b1ff 100%) 0%
    0% no-repeat padding-box;
}

.border-vilet {
  color: #706feb;
  border: 1px solid #706feb;
}
.blur {
  filter: grayscale(100%) !important;
}
.max-w-2xs {
  max-width: 15rem !important;
}

:host {
  opacity: 1;
}

.seleted {
  box-shadow: 0px 0px 26px #706feb;
}

.seleted2 {
  box-shadow: 26px 26px 0px 0px #706feb;
  box-shadow: 0 2px 3px -1px #706feb;
}

.circle_card_card {
  width: 22px;

  height: 22px;
  border-radius: 50%;
  position: absolute;
  background: transparent
    linear-gradient(
      180deg,
      rgba(112, 111, 235, 1) 0%,
      rgba(88, 177, 255, 1) 100%
    )
    0% 0% no-repeat padding-box;
  opacity: 1;
}

.seleted1 {
  background: transparent linear-gradient(180deg, #706feb 0%, #58b1ff 100%) 0%
    0% no-repeat padding-box;
}

.circle {
  border-radius: 50%;
  background: transparent
    linear-gradient(
      0deg,
      #dba73e 0%,
      #d89d3a 16%,
      #a46b28 30%,
      #8e5723 46%,
      #f4f3b8 52%,
      #f7ed9a 55%,
      #d5b767 70%,
      #a76f29 75%,
      #d0ab5b 85%,
      #e0c77d 100%
    )
    0% 0% no-repeat padding-box;
}

h2 i {
  display: block;
  font-size: 12px;
  font-weight: normal;
}

hr {
  border: none;
  height: 1px;
}

:host {
  background: white;
  font-family: "Poppins", sans-serif;
  display: block;
}

.p {
  margin: 0;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 3px 6px rgba(#cc8367, 0.22);
  width: 90px;
}

.hv-wrapper .hv-item {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.hv-item-parent {
  margin-bottom: 26px;
  position: relative;
  display: flex;
  justify-content: center;
}
/* .hv-item-parent     p {
        font-weight: bold;
        color: #de5454;
      } */
.hv-wrapper .hv-item .hv-item-parent:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 8px;
  bottom: 0;
  left: 50%;
  background-color: #000;
  transform: translateY(100%);
  top: 92%;
}

.hv-item-children {
  display: flex;
  justify-content: center;
}
.hv-item-child {
  padding: 0 15px;
  position: relative;
}
.hv-item-child:only-child:after {
  display: none;
}

.hv-item-child:before,
.hv-item-child:after {
  content: "";
  position: absolute;
  background-color: #000;
  left: 0;
}

.hv-item-child:before {
  left: 50%;
  top: 0;
  transform: translateY(-100%);
  width: 1px;
  height: 26px / 2;
}

.hv-item-child:after {
  top: -26px / 2;
  transform: translateY(-100%);
  height: 1px;
  width: 100%;
}

.hv-item-child:first-child:after {
  left: 50%;
  width: 50%;
}

.hv-item-child:last-child:after {
  width: calc(50% + 1px);
}

.reverse .hv-item {
  flex-direction: column-reverse;
}
.reverse .hv-item-parent {
  margin-top: 26px;
  margin-bottom: 0;
}
.hv-item-parent:after {
  top: 0;
  transform: translateY(-100%);
}

.reverse .hv-item-child {
  display: flex;
  align-items: flex-end;
}
.hv-item-child:before {
  top: auto;
  bottom: 0;
  transform: translateY(100%);
}

.hv-item-child:after {
  top: auto;
  bottom: -26px / 2;
  transform: translateY(100%);
}

.mergin_card {
  margin-top: 350px;
}

.mergin_card1 {
  margin-top: 420px;
}

.mt-30 {
  margin-top: 100%;
}

.blur {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.card-all {
  border-radius: 9px;
  align-items: baseline;
}

.img-size {
  height: 49.27px;
  width: 49.27px;
}
.img-size1 {
  height: 120px;
  width: 120px;
}
.img-size2 {
  height: 125px;
  width: 133px;
}

.imgAlign {
  align-items: flex-end;
}

.hv-item-child:before {
  position: absolute;
  background: rebeccapurple;
  content: "";
  background: transparent;
  width: 38%;
  height: 21px;
  transform: translate(50%, 50%);
  border: 1px solid #000;
  border-bottom: none;
  top: -31px;
  left: 13%;
}

.seleted {
  box-shadow: 0px 0px 26px #706feb;
}